# output
/dist

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# misc
/.sass-cache
/connect.lock
/coverage
/e2e-reports
/documentation
/webpack-analyze
/ut-reports
/libpeerconnection.log
debug.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.scannerwork
/mnt
oamcu-webem.txz
oamvdu-webm.txz
.jest-cache
/.log
report.*
junit.xml

# System Files
.DS_Store
Thumbs.db
